{{ define "main" }}
{{- $showToc := ge (len (findRE `<h2[\s>]` .Content)) 2 -}}
{{- $tocList := replace .TableOfContents `id="TableOfContents"` `class="toc-list"` | safeHTML -}}
<article class="prose post-article">
  <header class="post-header">
    {{ with .Params.tags }}
      {{- $t := . -}}
      {{- if reflect.IsSlice . }}{{ $t = index . 0 }}{{ end -}}
      <div class="post-header-tag"><span class="post-tag">{{ $t }}</span></div>
    {{ end }}
    <h1 class="post-heading">{{ .Title }}</h1>
    <div class="post-meta">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
      <span class="sep">&middot;</span>
      <span>{{ partial "reading-time.html" . }}</span>
    </div>
  </header>
  {{ with .Params.lead }}
  <div class="post-lead">
    <span class="post-lead-label">TL;DR</span>
    <div class="post-lead-body">{{ . | markdownify }}</div>
  </div>
  {{ end }}
  {{ if $showToc }}
  <details class="toc-inline">
    <summary>Contents</summary>
    {{ $tocList }}
  </details>
  <aside class="toc-rail" aria-label="Table of contents">
    <nav class="toc">
      <div class="toc-title">Contents</div>
      {{ $tocList }}
    </nav>
  </aside>
  {{ end }}
  <div class="post-content">
    {{ .Content }}
  </div>
</article>
{{ end }}

{{ define "scripts" }}
{{ $post := resources.Get "js/post.js" | minify | fingerprint }}
<script src="{{ $post.RelPermalink }}" integrity="{{ $post.Data.Integrity }}" defer></script>
{{ end }}
