{{ define "main" }}
<article class="prose">
  <header class="post-header">
    {{ with .Params.tags }}
      {{- $t := . -}}
      {{- if reflect.IsSlice . }}{{ $t = index . 0 }}{{ end -}}
      <div class="post-header-tag"><span class="post-tag">{{ $t }}</span></div>
    {{ end }}
    <h1 class="post-heading">{{ .Title }}</h1>
    <div class="post-meta">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
      <span class="sep">&middot;</span>
      <span>{{ partial "reading-time.html" . }}</span>
    </div>
  </header>
  <div class="post-content">
    {{ .Content }}
  </div>
</article>
{{ end }}
